<div class="nav-container">
  <a title="home" routerLink="/"><img class="logo" src="/assets/img/cecelia.png"/></a>
</div>
<a alt="toggle night mode" class="nightMode" (click)="toggleNightMode()">
  <ng-container *ngIf="this.nightMode">☁️</ng-container>
  <ng-container *ngIf="!this.nightMode">💡</ng-container>
</a>
<!--
<div class="list-group collapse navbar-toggleable-sm hidden-md-up" id="CollapsingNavbar">
  <a data-toggle="collapse" data-target="#CollapsingNavbar" routerLink="/" class="list-group-item">About</a>
  <a data-toggle="collapse" data-target="#CollapsingNavbar" routerLink="/projects" class="list-group-item">Projects</a>
  <a data-toggle="collapse" data-target="#CollapsingNavbar" routerLink="/projects" class="list-group-item">Blog</a>
</div>-->
<div class="container main-container">
  <router-outlet></router-outlet>
  <div class="accounts row" role="group" aria-label="Accounts">
    <div class="col-md-3 col-xs-6">
      <a class="" href="http://github.com/satsukitv">
        <img alt="github logo" src="/assets/img/GitHub-Mark-Light-120px-plus.png" />
        github
      </a>
    </div>
    <div class="col-md-3 col-xs-6">
      <a class="" href="http://twitter.com/satsukitv">
        <img alt="twitter logo" src="/assets/img/TwitterLogo_white.png" />
        twitter
      </a>
    </div>
    <div class="col-md-3 col-xs-6">
      <a class="" href="http://devfluid.itch.io/">
        <img alt="itch.io logo" src="/assets/img/itchio.png" />
        itch.io
      </a>
    </div>
    <div class="col-md-3 col-xs-6">
      <a class="" href="https://www.linkedin.com/in/cecelia-wren-6532b46">
        <img alt="linkedin logo" src="/assets/img/In-White-128px-TM.png" />
        linkedin
      </a>
    </div>
  </div>
  <img class="fake" alt="fake" src="/assets/img/fake.png">
</div>
