@import "../assets/css/variables";
.nightMode {
  font-size: 40px;
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
}
.accounts {
  @include themed() {
    background-color: t($bg-color);
  }
  display: flex;
  justify-content: center;

  #{$a-tags} {
    padding: 12px;
    width: 100%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    display: block;

    img {
      height: 30px;
      display: block;
      margin: auto;
    }
  }

  #{$a-tags} {
    text-decoration: none;
  }

  div {
    padding: 0.25em;
  }
}
