<div>
  <h2>
    im <img alt="cecelia wren" src="/assets/img/cooltext.gif"> and im a
    <ul>
      <li>Twitter Account Haver</li>
      <li>Witch of the JavaScript Coven</li>
      <li>General Anarchy Enjoyer</li>
    </ul>
  </h2>
  <h3>
    <br />
    want to know more?
  </h3>
  <h4>
    <br />
    cool...
    <span class="right">thats legit</span>
  </h4>
  <div class="card-columns">
    <ng-container *ngFor="let post of blogData">
      <div class="card" [style.order]="post.index">
        <app-blog-post [post]="post"></app-blog-post>
      </div>
    </ng-container>
  </div>
</div>
